{% extends "base.html.twig" %}

{% form_theme form _self %}

{% block body %}

    <div class="container">
        <h1>Créer une nouvelle annonce</h1>
        
        {{ form_start(form) }}

        {{ form_widget(form) }}
        <hr><br>
        <div class="row mb-5">
            <button type="submit"  class="btn btn-primary">Créer une nouvelle annonce</button>
        </div>
        {{ form_end(form) }}

    </div>

{% endblock %}

{% block _ad_images_widget %}
    <p>Ici, vous pouvez ajouter vos propres images !</p>
    {{ form_widget(form) }}

    <input type="hidden" id="widgets-counter" value="0">

    <div class="form-group">
        <button type="button" id="add-image" class="btn btn-primary">Ajouter une image</button>    
    </div>
{% endblock %}

{% block _ad_images_entry_row %}
    {{ form_widget(form) }}
{% endblock %}

{% block _ad_images_entry_widget %}
    <div class="form-group" id="block_{{ id }}">
        <div class="row">
            <div class="col-10">
                <div class="row">
                    <div class="col">{{ form(form.url) }}</div>
                    <div class="col">{{ form(form.caption) }}</div>
                </div>                
            </div>
            <div class="col-2">
                <button type="button" data-action="delete" data-target="#block_{{id}}" class="btn btn-danger">Supprimer</button>
            </div>            
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $('#add-image').click(function(e) {
                e.preventDefault()
                //const index = $('#ad_images div.form-group').length

                const index = +$("#widgets-counter").val();
                
                var tmp = $('#ad_images').data('prototype').replace(/__name__/g, index)
                $('#ad_images').append(tmp);

                $("#widgets-counter").val(index + 1)

                handleDeleteButton()
        })

        function handleDeleteButton() {
            $('button[data-action="delete"]').click(function () {
                const target = this.dataset.target;
                console.log(target)
                $(target).remove()
            })
        }
        handleDeleteButton()
    </script>   
{% endblock %}